In [3]:
import pymysql

In [18]:
coon = pymysql.connect(
     host = 'localhost',user = 'root',passwd = '11111111',
     port = 3306,db = 'ods',charset = 'utf8'
     #port必须写int类型
     #charset必须写utf8，不能写utf-8
 )
cur = coon.cursor()  #建立游标
cur.execute("select * from ods.o_fruit_list_d")  #查询数据
res = cur.fetchall()    #获取结果
print(res)
#cur.close()     #关闭游标
#coon.close()    #关闭连接

#如果是插入数据，则要commit一下，把第9行换成以下两行
#cur.execute('insert into stu(name,sex) VALUE ("pzp","man");')
#coon.commit()

((1, '苹果', '水果', 1.05, 3.0, 100.0, datetime.datetime(2019, 9, 5, 0, 0), datetime.datetime(2019, 9, 5, 0, 0)), (2, '香蕉', '水果', 1.5, 4.0, 100.0, datetime.datetime(2019, 9, 5, 0, 0), datetime.datetime(2019, 9, 5, 0, 0)), (3, '西红柿', '蔬菜', 0.5, 1.5, 100.0, datetime.datetime(2019, 9, 5, 0, 0), datetime.datetime(2019, 9, 5, 0, 0)))